.col {
	display: inline-block;
	opacity: 95%;
	align-content: start;
	box-sizing: border-box;
	padding: 10px;
}

.page {
	background-color: /*#FF3131*/ red;
	opacity: 95%;
	overflow: auto;
}

.links {
	width: 15%;
	background-color: yellow;
	border-radius: 0 20px 20px 0;
}

.overall {
	width: 85%;
	/*background-color: red;*/
	float: right;
	height: auto;
}

.trimmed {
	width: 2%;
	height: 500px;
}

.trimmed:hover {
	background-color: orange;
}

.trimmed > a, .trimmed > h2 {
	opacity: 0;
	pointer-events: none;
	cursor: default;
	font-size: 0;
}

.untrimmed {
	width: 98%;
}