.col {
	display: inline-block;
	opacity: 80%;
	align-content: start;
	box-sizing: border-box;
	padding: 10px;
}

.links {
	width: 15%;
	background-color: yellow;
}

.overall {
	width: 85%;
	background-color: red;
	float: right;
	height: auto;
}

.trimmed {
	width: 2%;
}

.trimmed:hover {
	background-color: orange;
}

.trimmed > a, .trimmed > h2 {
	opacity: 0;
	pointer-events: none;
	cursor: default;
}

.untrimmed {
	width: 98%;
}