.situation th {
	width: 30px;
	height: 30px;
	border: 6px solid;
	border-color: black;
	padding: 0;
	margin: 0;
}

.situation {
	background-color: black;
	padding: 0;
	margin: 0;
}

.wf { background-color: white !important; }
.yf { background-color: yellow !important; }
.rf { background-color: red !important; }
.of { background-color: orange !important; }
.bf { background-color: blue !important; }
.gf { background-color: green !important; }

.wn { border-top-color: white !important; }
.yn { border-top-color: yellow !important; }
.rn { border-top-color: red !important; }
.on { border-top-color: orange !important; }
.bn { border-top-color: blue !important; }
.gn { border-top-color: green !important; }

.ws { border-bottom-color: white !important; }
.ys { border-bottom-color: yellow !important; }
.rs { border-bottom-color: red !important; }
.os { border-bottom-color: orange !important; }
.bs { border-bottom-color: blue !important; }
.gs { border-bottom-color: green !important; }

.ww { border-left-color: white !important; }
.yw { border-left-color: yellow !important; }
.rw { border-left-color: red !important; }
.ow { border-left-color: orange !important; }
.bw { border-left-color: blue !important; }
.gw { border-left-color: green !important; }

.we { border-right-color: white !important; }
.ye { border-right-color: yellow !important; }
.re { border-right-color: red !important; }
.oe { border-right-color: orange !important; }
.be { border-right-color: blue !important; }
.ge { border-right-color: green !important; }