body {
	background-color: #FFFFFF;
	background-image: url("background.png");
	background-size: 100%;
	color: white;
	font-family: "CustComfortaa", sans-serif;
	height: 100%;
	padding: 0;
	margin: 0;
}

header {
	background-image: url("header.png");
	background-size: 100%;
	background-position: center;
	height: 60px;
}

.marker {
	display: block;
	margin: 15px auto 15px;
	height: 30px;
}

h1 {
	text-align: center;
	margin: 0px;
	margin-bottom: 5px;
	font-family: "CustRicordi", sans-serif;
	font-size: 40px;
}

h2 {
	font-size: 20px;
	margin: 10px;
}

p {
	margin: 0px;
	margin-bottom: 5px;
	text-justify: distribute;
}

@font-face {
	font-family: "CustComfortaa";
	src: url("Comfortaa-Light.ttf");
}

@font-face {
	font-family: "CustOctosquares";
	src: url("TT Octosquares Trial Expanded Light.ttf");
}

@font-face {
	font-family: "CustRicordi";
	src: url("TT Ricordi Greto Trial Regular.ttf");
}

@font-face {
	font-family: "Cust3270";
	src: url("3270-font-regular-normal.ttf");
}